


<%= form_for(@time_entry) do |f| %>
  <% if @time_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_entry.errors.count, "error") %> prohibited this time_entry from being saved:</h2>

      <ul>
      <% @time_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td><%= f.label 'Food Coop Id#' %></td>
      <td><%= f.text_field :coop_id, :placeholder => '12345', :value => '' %></td>
    </tr>



    <tr>
      <td><%= f.label 'Date Worked' %></td>

      <td><%= f.datepicker "date_worked",  'placeholder'=>'yyyy/dd/mm', 'format'=>'yyyy mm dd' %></td>
    </tr>

    <tr>
      <td><%= f.label 'Number of Hours' %></td>
      <td><%= f.text_field :hours_worked, :placeholder => '0.00', :value => '' %></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td><div class="actions">
    <%= f.submit ">> Submit Time" %>
  </div></td>
    </tr>

  </table>

  
  
<% end %>