


<%= form_for(@time_entry) do |f| %>
  <% if @time_entry.errors.any? %>
    <div id="error_explanation">
      <p class="italic"><%= pluralize(@time_entry.errors.count, "error") %> prohibited this Time Entry from being saved:</p>

      <% @time_entry.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <p class="bold">Please refresh page and try again. Still having trouble? Please <%= mail_to "bfcftop@gmail.com", "email us", :encode => "javascript" %></p>
    </div>
  <% end %>

  <table class="entry">
    <tr>
      <td><%= f.label 'Food Coop Id#' %></td>
      <td><%= f.text_field :coop_id, :placeholder => '12345Z' %></td>
    </tr>



    <tr>
      <td><%= f.label 'Date Worked', :placeholder => 'yyyy-mm-dd' %></td>



      <td><%= f.text_field :date_worked, :placeholder => 'yyyy-mm-dd',  'data-behaviour'=>'datepicker' %></td>
    </tr>

    <tr>
      <td><%= f.label 'Number of Hours' %></td>
      <td><%= f.text_field :hours_worked, :placeholder => '0.00' %></td>
    </tr>

    <tr>
      <td valign="top"><%= f.label 'Description' %></td>
      <td><%= f.text_area :description, :placeholder => 'optional', :rows => 5 %></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td><div class="actions">
    <%= f.submit ">> Submit Time" %>
  </div></td>
    </tr>

  </table>

  
  
<% end %>