<h1>Listing All Time Entries</h1>

<table border="1" cellpadding="5" cellspacing="5">
  <tr>
    <th>Date Worked</th>
    <th>Coop ID</th>
    <th>Name</th>
    <th>Hours Entered</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @time_entries.each do |time_entry| %>
  <tr>
    <td><%= time_entry.date_worked.strftime("%m/%d/%Y") %></td>
    <td><%= time_entry.member.coop_id %></td>

    <td><%= time_entry.member.first_name %> <%= time_entry.member.last_name %> </td>

    <td><%= time_entry.hours_worked %> </td>
    <td><%= time_entry.description %> </td>

    <td><%= link_to 'Show', time_entry %></td>
    <td><%= link_to 'Edit', edit_time_entry_path(time_entry) %></td>
    <td>

      <%= button_to "delete", time_entry, confirm: 'Are you sure?', :method=>:delete, :class=>:destroy %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Time entry', new_time_entry_path %>
