<h1>Report</h1>

-on the 1st of the month grab last month's carryover balace<br/>
-add it to this months hours_worked<br/>
-divide into shifts<br/>
-store this month's carryover balance<br/><br/>

<table>
  <tr>
    <td>Name</td>
    <td>Coop ID</td>
    <td>Total Hours</td>
    <td>Shifts</td>
    <td>Carry Over Hours</td>
   </tr> 

<% @timecards.each do |time_entry| %>
  <tr>
    <td><%= time_entry.full_name %></td>
    <td><%= time_entry.coop_id %></td>
    <td><%= time_entry.total_hours %></td>
    <td><%= time_entry.shifts %></td>
    <td><%= time_entry.carry_over_hours %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Time entry', new_time_entry_path %>
