<h1>Time Entries Report</h1>

<span class='bold'>Today's Date:</span> <%= Date.today.strftime("%B %d, %Y") %><br/>
<span class='bold'>Start Date:</span> <%= @startD.strftime("%B %d, %Y") %><br/>
<span class='bold'>End Date:</span> <%= @endD.strftime("%B %d, %Y") %><br/><br/>

<table border="1" cellpadding="5" cellspacing="5">
  <tr>
    <td><strong>First Name</strong></td>
    <td><strong>Last Name</strong></td>
    <td><strong>Coop ID</strong></td>
    <td><strong>Shifts</strong></td>
    
   </tr> 

<% @reports.each do |report| %>
<% if report.shifts_worked > 0 %>
  <tr>
    <td><%= report.member.first_name %></td>
    <td><%= report.member.last_name %></td>
    <td><%= report.member.coop_id %></td>
    <td><%= report.shifts_worked %></td>
  </tr>
  <% end %>
<% end %>
</table>
