<h1>Report for <%= Date::MONTHNAMES[Date.today.month-1] %></h1>

Today's Date: <%= Date.today %><br/>
Start Date: <%= @startD %><br/>
End Date: <%= @endD %><br/><br/>


<table border="1" cellpadding="5" cellspacing="5">
  <tr>
    <td><strong>Name</strong></td>
    <td><strong>Coop ID</strong></td>
    <td><strong>Shifts</strong></td>
    <td><strong>Carry Over Hours</strong><br/>(for next month)</td>
   </tr> 

<% @report.each do |report| %>
<% if report.shifts_worked > 0 %>
  <tr>
    <% @member = Member.find_by_coop_id(report.member_id) %>
    <td><%= @member.full_name %></td>
    <td><%= report.member_id %></td>
    <td><%= report.shifts_worked %></td>
    <td><%= report.carryover_hours.to_f %></td>
  </tr>
  <% end %>
<% end %>
</table>
