<p id="notice"><%= notice %></p>

<%= @time_entry.coop_id %><br/>
<%= @time_entry.hours_worked %><br/>
<%= @time_entry.description %><br/>

<%= link_to 'Edit', edit_time_entry_path(@time_entry) %> |
<%= link_to 'Back', time_entries_path %>
