<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "BFC: FTOP" %></title>
    <%= stylesheet_link_tag "application" %>
    
    <%= csrf_meta_tag %>
    <%= javascript_include_tag '/javascripts/jquery-1.7.2.min.js', '/javascripts/jquery-ui.js', '/javascripts/bootstrap-datepicker.js', '/javascripts/dragtable.js', '/javascripts/sorttable.js'  %>
    <%= stylesheet_link_tag '/stylesheets/jquery-ui.css', '/stylesheets/datepicker.css' %>

    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
