<h1>Listing members</h1>

<table class="members">
  <tr>
    <td class="title">Coop ID</td>
    <td class="title">Name</td>
    <td class="title">Email Address</td>
    <td></td>
    <td></td>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td style="font-weight:bold;"><%= member.coop_id %></td>
    <td><%= member.full_name %></td>
    <td><%= mail_to member.email_address %></td>
    <td class="editbtn"><%= link_to 'Edit', edit_member_path(member) %></td>
    <td class="editbtn">

      <%= button_to "delete", member, confirm: 'Are you sure?', :method=>:delete, :class=>:destroy %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
